<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE mapper
                PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qst.project02main.mapper.ActiveCrowdMapper">

<select id="query" parameterType="String" resultType="ActiveCrowd">
    select agerange as name, counts as value from userinfo;
</select>

</mapper>